.right {
    border: 1px solid black;
    width: 350px;
    height: 150px;
    margin-left: 900px;
    margin-bottom: -150px;
    margin-top:50px;
    padding-top: 50px;
}

.right {
    border: 1px solid black;
    width: 350px;
    height: 150px;
    margin-left: 900px;
    margin-bottom: -150px;
    margin-top:50px;
    padding-top: 50px;
}

.right input {
    width: 300px;
    height: 25px;
   
}

.right button {
    width: 150px;
    height: 30px;
    margin-right: 150px;
    margin-top: 30px;
    background-color: darkgray;
    color: white;
    border: none;
    cursor: pointer;
}
.right button:hover{
    background-color: lightgray;
}